[submodule "external/libgetkw"]
	path = external/libgetkw
	url = https://github.com/juselius/libgetkw.git
[submodule "external/xcfun"]
	path = external/xcfun
	url = https://github.com/dftlibs/xcfun.git

[submodule "external/mrcpp"]
	path = external/mrcpp
	url = https://github.com/stigrj/mrcpp.git
