[submodule "external/libgetkw"]
	path = external/libgetkw
	url = https://github.com/juselius/libgetkw.git
[submodule "external/xcfun"]
	path = external/xcfun
	url = git://repo.ctcc.no/xcfun.gi://github.com/dftlibs/xcfun.git 

