[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
qcelemental = "0.26.0"
Pygments = "*"
recommonmark = "*"
Sphinx = ">=2.0"
sphinx_rtd_theme = "*"
sphinxcontrib-bibtex = "*"
breathe = "*"
pyyaml = "*"
yapf = "*"
parselglossy = ">=0.8"
ruamel.yaml = ">=0.17.21"
