[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parselglossy = { git='https://github.com/dev-cafe/parselglossy.git', ref='b28084a6ca692dd1cecc2e07a229f20d1630e162' }
pyparsing = "*"
runtest = "*"

[dev-packages]
Pygments = "*"
recommonmark = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-bibtex = "*"
pyyaml = ">=4.2b1"
yapf = "*"

[pipenv]
allow_prereleases = true
