[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parselglossy = "*"
runtest = "*"
pyparsing = "*"

[dev-packages]
Pygments = "*"
recommonmark = "*"
Sphinx = ">=2.0"
sphinx_rtd_theme = "*"
sphinxcontrib-bibtex = "*"
breathe = "*"
pyyaml = ">=4.2b1"
yapf = "*"

[pipenv]
allow_prereleases = true
